:root {
    --color1: rgb(181, 178, 178); /* Red */
    --color2: rgb(6, 1, 4); /* Green */
    --color3: #00f; /* Blue */
  }
  
  body {
    font-family: sans-serif;
    background-color: black;
  }
  
  nav {
    background: linear-gradient(to right, var(--color1), var(--color2), var(--color3));
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }